
{{ form_start(form, {attr: attr|default({})}) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">
        {{ button_label|default('save'|trans) }}
    </button>

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('user_index') }}" class="btn btn-link">
            {{ 'back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}
